* {
	margin: 0;
	padding: 0;
	color: #444;
	font-weight: 400;
}
body {
	-webkit-text-size-adjust: 100%;
	position: relative;
	width: 90%;
	margin: auto;
	text-align: center;
	background-color: #B5D1F2;
	font-family: "Oxygen", Helvetica, Sans-serif;
}
a {
	text-decoration: none;
}
a:hover {
	color: #000;
}
#menu {
	display: none;
}
nav.mobile {
	position: absolute;
	width: 100%;
}
label[for="menu"] {
	display: block;
	font-size: 1.25rem;
	margin-top: 0.625rem;
}
label[for="menu"]:hover {
	cursor: pointer;
	color: #000;
}
.site {
	position: relative;
	background-color: #B5D1F2;
	transition: top .5s;
	top: 0;
}
#menu:checked ~ .site {
	top: 18.5rem;
}
header {
	margin: 2rem 0 1rem;
}
header h1 {
	font-family: "Julius Sans One", Helvetica, Sans-serif;
	text-transform: uppercase;
	font-size: 3.75rem;
}
nav.desktop {
	display: none;
	width: 26rem;
}
nav a {
	display: inline-block;
	margin: 0 1.5rem 1rem;
	font-size: 1.25rem;
}
nav.mobile a {
	display: block;
}
nav .active {
	font-weight: 700;
	color: #000;
}
main {
	margin: 1.75rem 0 1.5rem;
}
.container {
	margin-bottom: 1.25rem;
}
img {
	width: 100%;
}
.caption {
	font-size: 1rem;
	font-style: italic;
	text-align: left;
}
footer {
	padding-bottom: 1.25rem;
	font-size: 1rem;
}
@media only screen and (min-width: 40.0625em) {
	label[for="menu"] {
		display: none;
	}
	nav.desktop {
		display: inline-block;
	}
	nav.mobile {
		display: none;
	}
	#menu:checked ~ .site {
		top: 0;
	}
}
@media only screen and (min-width: 56.3125em) {
	body {
		width: 75%;
		min-width: 50.625rem;
	}
	nav.desktop {
		width: 100%;
	}
}