* {
	margin: 0;
	padding: 0;
	color: #444;
}

body {
	background-color: #B5D1F2;
	font-family:"Oxygen", Helvetica, Arial, Sans-serif;
	text-align: center;
	width: 90%;
	margin: auto;
}

a {
	text-decoration: none;
}

a:hover {
	color: #000;
}

.header {
	margin: 30px 0 20px;
}

.header h1 {
	font-family:"Julius Sans One", Helvetica, Sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 60px;
}

.nav {
	display: inline-block;
	width: 500px;
	margin-bottom: 25px;
}

.nav li {
	display: inline;
	margin-left: 25px;
	margin-right: 25px;
	font-weight: 400;
	font-size: 20px;
}

.nav .selected {
	font-weight: 700;
	color: #000;
}

.content {
	margin-top: 30px;
	margin-bottom: 30px;
}

.container {
	margin-bottom: 3vw;
}

img {
	width: 100%;
}

.caption {
	font-size: 14px;
	font-style: italic;
	text-align: left;
}

.row {
	width:100%;
}

.footer {
	margin-bottom: 40px;
	font-size: 15px;
}

@media screen and (min-width: 900px) {
	body {
		width: 75%;
		min-width: 810px;
	}

	.nav {
		width: 100%;
	}

	.caption {
		font-size: 15px;
	}

	.row2 .container {
		width: 49%;
		float: left;
	}

	.row3 .container {
		width: 32%;
		float: left;
	}

	.row3 .container:not(:last-child), .row2 .container:not(:last-child){
		margin-right: 2%;
	}
}

@media screen and (max-width: 640px) {
	.nav {
		display: none;
	}
}
