body {
	width: 95%;
	margin: auto;
	background-color: #ddd;
	font-family: "Oxygen", Helvetica, Sans-serif;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .site-name {
	display: flex;
	align-items: baseline;
}

header .site-name h1 {
	margin-right: 1rem;
}

header .site-name h2 {
	color: #4A63B0;
}

header nav {
	display: flex;
}

header p {
	margin: 0 1.5rem;
}

main {
	display: flex;
	justify-content: space-between;
}

.column {
	flex: 1;
	margin: .2rem;
}

.container img {
	display: block;
	width: 100%;
	margin-bottom: .4rem;
}