* {
	margin: 0;
	padding: 0;
	color: #222;
	font-weight: 300;
}

body {
	text-align: center;
	background-color: #ddd;
	font-family: "Helvetica Neue", Helvetica, Sans-serif;
	
}

canvas {
	margin: auto;
	background: #222;
}

header {
	margin: 1.5rem 0 1.5rem;
}

header h1 {
	font-size: 3.75rem;
}

/*.game {
	float: left;
	margin-left: 5rem;
}*/

.game h2 {
	margin: 0 0 1.5rem;
	font-size: 2rem;
}